body {
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
}

.profile-container {
    display: flex;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ffffff; 
}

.left-panel {
    flex: 1;
    max-width: 300px;
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.right-panel {
    flex: 2;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px groove rgb(106, 56, 156); 
}


